.material-icons.md-48 {
    font-size: 48px;
}

.mat-list.list-horizontal {
    padding: 0;
    .mat-list-item {
        display: inline-block;
        height: auto;
        width: auto;
    }
}

.factory-title-background-gray {
    background-color: green;
}

.factory-title-background-green {
    background-color: green;
}

.factory-title-background-blue {
    background-color: green;
}

.factory-title-background-brown {
    background-color: green;
}
