.manage-game-card {
    width: 50%;
    top: 10em;
    margin-left: auto;
    margin-right: auto;
}

.manage-game-day-timer {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manage-game-timer {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manage-game-progress-bar {
    padding-top: 5%;
    margin-bottom: 5%;
}

.manage-game-buttons {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons.md-48 {
    font-size: 48px;
}
