<mat-grid-list cols="2" rowHeight="4:1" class="purchase-form">
    <mat-grid-tile colspan="2">
        <div mat-dialog-title>
            Покупка фабрики
        </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
        <mat-label>
            Уровень:
        </mat-label>
        <mat-label>
            {{currentFactory?.level}}
        </mat-label>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-label>
            Рабочие:
        </mat-label>
        <mat-label>
            {{currentFactory?.workersCount}}
        </mat-label>
        <mat-label>
            {{currentFactory?.workersCount}}
        </mat-label>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-label>
            Стоимость:
        </mat-label>
        <mat-label>
            {{currentFactory?.cost}}
        </mat-label>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-label>
            Тип производства:
        </mat-label>
        <mat-label>
            {{currentFactory?.productionType}}
        </mat-label>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
        <mat-label>
            {{currentIndex + 1}} / {{factoriesDefinitions?.length}}
        </mat-label>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
        <button mat-raised-button color="primary" (click)="selectPrevious()">
            <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <button mat-raised-button color="primary" (click)="selectNext()">
            <i class="material-icons">keyboard_arrow_right</i>
        </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
        <button mat-raised-button color="primary" (click)="buyFactory(currentIndex)">
            Купить
        </button>
    </mat-grid-tile>
</mat-grid-list>
