<mat-toolbar class="contract-main-text">Информация по контрактам</mat-toolbar>

<mat-button-toggle-group [(ngModel)]="toggleButtonFlag" (change)="toggleButtonFlagChanged()" multiple name="fontStyle"
    aria-label="Font Style">
    <mat-button-toggle value="GamePlayerSale">Игра продает игроку</mat-button-toggle>
    <mat-button-toggle value="GamePlayerBuy">Игра покупает у игрока</mat-button-toggle>
    <mat-button-toggle value="PlayerPlayer">Все контракты между игроками</mat-button-toggle>
</mat-button-toggle-group>

<button (click)="updateContracts()"  mat-button>Update</button>

<div class="mat-elevation-z8" matSort>
    <table class="contract-table" mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- TillDate Column -->
        <ng-container matColumnDef="tillDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TillDate </th>
            <td mat-cell *matCellDef="let element"> {{element.tillDate}} </td>
        </ng-container>

        <!-- TillCount Column -->
        <ng-container matColumnDef="tillCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TillCount </th>
            <td mat-cell *matCellDef="let element"> {{element.tillCount}} </td>
        </ng-container>

        <!-- TotalSumm Column -->
        <ng-container matColumnDef="totalSumm">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TotalSumm </th>
            <td mat-cell *matCellDef="let element"> {{element.totalSumm}} </td>
        </ng-container>

        <!-- sourceFactoryCustomerLogin Column -->
        <ng-container matColumnDef="sourceFactoryCustomerLogin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SourceFactory </th>
            <td mat-cell *matCellDef="let element"> {{element.sourceFactoryCustomerLogin}} </td>
        </ng-container>

        <!-- destinationFactoryCustomerLogin Column -->
        <ng-container matColumnDef="destinationFactoryCustomerLogin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DestinationFactory </th>
            <td mat-cell *matCellDef="let element"> {{element.destinationFactoryCustomerLogin}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[18, 5, 10]" showFirstLastButtons></mat-paginator>
</div>
