
.new-team-main-form {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.game-form-field {
    width: 100%;
}

.add-team-button {
    margin-top: 5%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
