
.main-form {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.add-button {
    margin-top: 5%;
    width: 100%;
}
