.contract-info {
    font-size: 16px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.contract-header-image {
    background-image: url('../assets/images/contract/mi_contract.svg');
    background-size: cover;
}

.contract-info-base-list {
    width: 300px;
    margin-top: 1%;
    margin-left: 35%;
    margin-right: 35%;
}

.contract-info-list {
    background: rgb(222, 234, 238);
    width: 300px;
    margin-left: 5%;
    margin-right: 5%;
}
