<mat-card class="contract-info">
    <mat-card-header>
        <div mat-card-avatar class="contract-header-image"></div>
        <mat-card-title>Контракт</mat-card-title>
        <mat-card-subtitle>{{contract?.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-list class="contract-info-base-list">
        <div> Поставлено материала: {{contract?.totalCountCompleted | number}} / {{contract?.tillCount | number}} шт. </div>
        <div> Общая сумма: {{contract?.totalSumm | number}} </div>
        <div> До даты: {{contract?.tillDate}} </div>
    </mat-list>

    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="6:1">
            <mat-grid-tile>
                <div>Поставщик</div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>Покупатель</div>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-list class="contract-info-list">
                    <div> Логин: {{contract?.sourceCustomerLogin}} </div>
                    <div> Имя фабрики: {{contract?.sourceFactoryName}} </div>
                    <div> Уровень поколения: {{contract?.sourceGenerationLevel}} </div>
                    <div> Кол-во рабочих: {{contract?.sourceWorkers}} </div>
                </mat-list>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-list class="contract-info-list">
                    <div> Логин: {{contract?.destinationCustomerLogin}} </div>
                    <div> Имя фабрики: {{contract?.destinationFactoryName}} </div>
                    <div> Уровень поколения: {{contract?.destinationGenerationLevel}} </div>
                    <div> Кол-во рабочих: {{contract?.destinationWorkers}} </div>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="backToContractsClick()">Вернуться к таблице</button>
    </mat-card-actions>
</mat-card>
