.contract-info {
    background: yellow;
    font-size: 16px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.contract-label {
    background: rgb(11, 80, 104);
    width: 100px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.contract-info-base-list {
    background: rgb(94, 204, 241);
    width: 300px;
    margin-top: 1%;
    margin-left: 35%;
    margin-right: 35%;
}

.contract-info-list {
    background: lightblue;
    width: 300px;
    margin-left: 5%;
    margin-right: 5%;
}
